.uploaddan-img {
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
}

.chosenClass .uploaddan-img {
    border: 0px solid #ccc;
}

.uploaddan-img .bg {
    width: 104px;
    height: 104px;
    margin: 0px auto;
    transition: .3s;
    position: relative;
    background-color: #f5f5f5; /* 灰色背景填充 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploaddan-img .bg img {
    max-width: 104px;
    max-height: 104px;
    object-fit: contain;
    width: auto;
    height: auto;
    margin: auto;
}

.uploaddan-img .bg .hover {
    opacity: 0;
    transition: .5s;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.uploaddan-img:hover .bg .hover {
    opacity: 1;
}

.uploaddan-img .bg .hover div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.uploaddan-img .bg .hover div .icon {
    color: #fff;
    font-size: 16px;
}
