.preview-img{width:104px;height:104px;cursor:pointer;margin:0px 12px 12px 0px;text-align: center;position: relative;display:inline-block;float:left;}

.preview-img .bg{width:86px;height:86px;border-radius: 5px;margin:0px auto;border:1px solid #fff;transition: .3s;position: relative;
    overflow: hidden; /* 隐藏超出容器的部分 */
}
.preview-img .bg img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 实现等比压缩且填满容器 */
}
.preview-img .bg .hover{opacity: 0;transition: .5s; position: absolute;left:0px;top:0px;background-color: rgba(0,0,0,.7);width:100%;height:100%;display: flex;align-items: center;}
.preview-img:hover .bg .hover{opacity: 1;}
.preview-img .bg .hover div{display: flex;justify-content: center;width:100%;}
.preview-img .bg .hover div .icon{color:#fff;font-size:16px;}
